.ant-carousel .slick-slide h3 {
  color: #fff;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

.card-width h3 {
  margin: 10px 0;
  color: white;
}

.card-width h2 {
  margin: 10px 0;
  color: white;
}

.card-width h6 {
  margin: 5px 0;
  text-transform: uppercase;
  color: white;
}

.card-width p {
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.card-width {
  width: 300px;
  margin: 2%;
}
.ant-carousel .round {
  width: 250px;
  height: 250px;
}
.ant-carousel {
  margin: 5%;
  padding: 5%;
  align-items: center;
}
.card-container {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #becaff;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  border-radius: 36px;
}

.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

@media screen and (min-width: 920px) {
  .card-container .round {
    border: 1px solid #03bfcb;
    border-radius: 50%;
    padding: 32px;
  }
}

@media screen and (max-width: 920px) {
  .card-container .round {
    border: 1px solid #03bfcb;
    border-radius: 50%;
    padding: 10px;
    width: 50% !important;

  }

  .buttons {
    padding: 1%;
   
  }

  .ant-row .ant-form-item{

    padding:0 !important;
    margin: 0 !important;
  }

  .ant-form-item{

    padding:0 !important;
    margin: 0 !important;
  }



}

.slick-list img {
  padding: 5%;
}
.skills {
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

.card-container
  .ant-divider-horizontal.ant-divider-with-text-left
  .ant-divider-inner-text,
.ant-divider-horizontal.ant-divider-with-text-right .ant-divider-inner-text {
  color: white;
}
.buttons {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.anticon {
  color: black !important;
}
