@media (max-width: 920px) {
  .profile_form_container,
  .jobList_container {
    width: 100%;
    overflow: auto;
    background-color: white;
    box-shadow: 9px 14px 28px -8px rgb(218 211 219 / 81%);

    border-radius: 8px;
    padding: 10%;
    display: flex;

    flex-direction: column;
  }

  .edit_profile_container,
  .indexJob_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 5%;
  }
}

@media (min-width: 920px) {
  .profile_form_container,
  .jobList_container {
    width: 100%;
    max-width: 600px;
    overflow: auto;
    background-color: white;
    box-shadow: 9px 14px 28px -8px rgb(218 211 219 / 81%);

    border-radius: 8px;
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .edit_profile_container,
  .indexJob_container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
}
