@media (max-width: 920px) {
  .big_update_container {
    width: 100%;
    overflow: auto;
    background-color: white;
    box-shadow: 9px 14px 28px -8px rgb(218 211 219 / 81%);

    border-radius: 8px;
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .editBox_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 5%;
  }
}

@media (min-width: 920px) {
  .big_update_container {
    width: 100%;
    max-width: 600px;
    overflow: auto;
    background-color: white;
    box-shadow: 9px 14px 28px -8px rgb(218 211 219 / 81%);

    border-radius: 8px;
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .editBox_container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
}

.update_input_container {
  padding: 2%;
}


.form_offer_container{
  width:100%;
  overflow:auto;
}