@font-face {
  font-family: "BasementGrotesque";
  src: local("BasementGrotesque"),
    url("/fonts/basement_grotesque/BasementGrotesque-Black_v1.202.otf")
      format("otf");
}
/* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
@font-face {
  font-family: "Chinoz";
  src: local("Chinoz"), url("/fonts/chinoz/Chinoz-Medium.ttf") format("ttf");
  font-family: "OTR_type";
}
@font-face {
  font-family: "OTR_type";
  src: local("OTR_type"),
    url("/fonts/OTR_type/OTRtype/fonts/otf/OTRtypeGX.ttf") format("ttf");
}
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", cursive;
}
.textLogo p {
  font-family: "Josefin Sans", cursive;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3%;
  padding: 3%;
}

.nav__container a {
  color: white !important;
}
.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid #3416a1 !important;
  z-index: 2;
}

.ant-form-item-control-input {
  min-height: 63px !important;
}
