@import "node_modules/antd/lib/style/themes/default.less";
@import "node_modules/antd/dist/antd.less";
@primary-color: #54499e; // primary color for all components
@link-color: #7364d9; // link color
@success-color: #c1afff; // success state color
@warning-color: #d1e4ff; // warning state color
@error-color: #7364d9; // error state color
@font-size-base: 15px; // major text font size
@heading-color: rgba(42, 12, 80, 0.85); // heading text color
@text-color: #082666; // major text color
@text-color-secondary: rgba(26, 3, 63, 0.45); // secondary text color
@disabled-color: rgba(71, 29, 95, 0.25); // disable state color
@border-radius-base: 15px; // major border radius
@border-color-base: #c1afff; // major border color
@box-shadow-base: 0 2px 8px rgba(125, 98, 136, 0.15); // major shadow for layers
