/* backgroundFullHome */

.backgroundFullHome {
  position: absolute;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

/* LoginArea */

.loginArea {
  position: absolute;
  width: 775.66px;
  height: 1080px;
}

/* Get Started */

.getStartedButton {
  position: absolute;
  height: 59px;
  left: 33.21%;
  right: 33.58%;
  top: calc(50% - 59px / 2 - 0.5px);

  font-family: Catamaran;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 59px;
  /* identical to box height */

  color: #ffffff;
}

/* Login Button Background */

.loginButton {
  position: absolute;
  width: 384px;
  height: 64px;

  background: #f2f8ff;
  border-radius: 36px;
}

/* Login text */

.loginText {
  position: absolute;
  width: 185px;
  height: 59px;
  font-family: Catamaran;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 59px;
  /* identical to box height */

  text-align: center;

  color: #54499e;

  mix-blend-mode: normal;
  opacity: 0.8;
}

/* Email Button Background */

.emailButton {
  position: absolute;
  width: 552px;
  height: 64px;

  background: #c1afff;
  border-radius: 36px;
}
/* Password Button background */

.passwordButton {
  position: absolute;
  width: 552px;
  height: 64px;

  background: #c1afff;
  border-radius: 36px;
}
/* Password text */

.passwordText {
  position: absolute;
  width: 266px;
  height: 59px;

  font-family: Catamaran;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 59px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.8;
}

/* Email text */

.emailText {
  position: absolute;
  width: 265px;
  height: 59px;

  font-family: Catamaran;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 59px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.8;
}

/* Stunning Design Tool */

.logoDesign {
  position: absolute;
  width: 513px;
  height: 122px;

  font-family: Catamaran;
  font-style: normal;
  font-weight: 500;
  font-size: 200px;
  line-height: 122px;
  /* identical to box height, or 61% */

  letter-spacing: -3.5px;

  color: #1d2433;
}

/* Oval */

.Oval1 {
  position: absolute;
  width: 74.85px;
  height: 116.1px;

  border: 4px solid #7864ff;
  transform: rotate(-179.57deg);
}
/* Oval */

.oval2 {
  position: absolute;
  width: 73.17px;
  height: 117.15px;

  border: 4px solid #1574f6;
  transform: rotate(0.93deg);
}

/* Group 17 rond */

.rond1 {
  position: absolute;
  width: 112px;
  height: 91px;
}

/* Group 58 rond */

.rond2 {
  position: absolute;
  width: 112px;
  height: 91px;
}

/* home */

.navText1 {
  position: absolute;
  height: 29px;
  left: 4.49%;
  right: 86.39%;
  top: calc(50% - 29px / 2 + 37.5px);

  font-family: Antic Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  letter-spacing: 1.85714px;
  text-transform: uppercase;

  color: #1d2433;
}

/* features */

.navText3 {
  position: absolute;
  height: 29px;
  left: 57.16%;
  right: 26.39%;
  top: calc(50% - 29px / 2 + 37.5px);

  font-family: Antic Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  letter-spacing: 1.85714px;
  text-transform: uppercase;

  color: #1d2433;

  mix-blend-mode: normal;
  opacity: 0.6;
}
/* features */

.navText4 {
  position: absolute;
  height: 29px;
  left: 27.19%;
  right: 56.36%;
  top: calc(50% - 29px / 2 + 36.5px);

  font-family: Antic Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  letter-spacing: 1.85714px;
  text-transform: uppercase;

  color: #1d2433;

  mix-blend-mode: normal;
  opacity: 0.6;
}
/* contact */

.navText5 {
  position: absolute;
  height: 29px;
  left: 89.16%;
  right: -3.61%;
  top: calc(50% - 29px / 2 + 37.5px);

  font-family: Antic Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  letter-spacing: 1.85714px;
  text-transform: uppercase;

  color: #1d2433;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.nav__name a {
  color: white !important;
}
