.container_messages {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.checked {
  background-color: black;
}

.ant-badge-status-processing {
  position: relative !important;
  background-color: #9995ff !important;
}

.ant-badge-status-dot {
  width: 10px !important;
  height: 10px !important;
}

.IsActive {
  background-color: #e7f1fe;
  border-radius: 10px;
}
.containter_message .ant-list-items {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

.containter_message .ant-list-item {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

.container_send_messages ul.ant-list-items {
  width: 100% !important;
}
.container_send_messages li.ant-list-item {
  width: 100% !important;
}

.container_send_messages .sender_messages {
  display: flex;
  justify-content: flex-end;
}

.container_send_messages .sender_messages .ant-comment-content-detail {
  background-color: #f9e9c5;
  padding: 2%;
  border-radius: 10px;
}
.container_send_messages .receiver_messages .ant-comment-content-detail {
  background-color: #c6e79c;

  padding: 2%;
  border-radius: 10px;
}
@media screen and (min-width: 920px) {
  .big_container_messages {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }

  .icons_sibeBarCandidat {
    display: none;
  }

  .nav__items a {
    background-color: #f2f7fd;
    padding: 1%;
    border-radius: 25% 10%;
    /* border-radius: 10%; */
    display: flex;
    justify-content: center;
  }

  .ant-list .comment_style {
    outline: none !important;
    width: 65% !important;
  }

  .ant-comment-inner {
    display: flex !important;
    padding: 3px 0 !important;
  }

  .big_container_send_messages {
    width: 70%;
    overflow: auto;

    box-shadow: 9px 14px 28px -8px rgb(218 211 219 / 81%);

    border-radius: 8px;
  }
}
@media (max-width: 920px) {
  .container_messages .anticon {
    display: none;
  }
  .containter_message {
    padding: 5%;
  }
  .container_send_messages .ant-spin-container {
    position: relative;
    width: 100% !important;
    transition: opacity 0.3s;
    display: flex;
    justify-content: space-evenly;
  }
  .big_container_send_messages {
    width: 100%;
    overflow: auto;

    box-shadow: 9px 14px 28px -8px rgb(218 211 219 / 81%);

    border-radius: 8px;
  }

  .addcomment_container .ant-form-item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: rgba(0, 0, 0, 0.85); */
    /* font-size: 14px; */
    /* font-variant: tabular-nums; */
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum", "tnum";
    /* margin-bottom: 24px; */
    /* vertical-align: top; */
    /* transition: margin-bottom 0.3s 0.017s linear; */
  }

  .addcomment_container .ant-form-item-control-input {
    width: 80%;
    height: 30px;
  }

  .addcomment_container .ant-input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum", "tnum";
    position: relative;
    display: inline-block;
    width: 70% !important;
    height: 30px;
    min-width: 0;
    /* padding: 4px 11px; */
    color: black;
    font-size: 11px;
    /* line-height: 1.5715; */
    background-color: #e7f1fe;
    border-radius: 10px;
    /* background-image: none; */
    /* border: 1px solid #d9d9d9; */
    /* border-radius: 2px; */
    transition: all 0.3s;
  }

  .ant-list-item-meta-description {
    display: none !important;
  }
  .ant-list-item-meta-title > a {
    display: none !important;
  }
  .ant-list-split .ant-list-item {
    border-bottom: none !important;
  }
  .ant-list {
    max-width: 100% !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    border-bottom: none;
  }
  .ant-list .ant-list-split {
    width: 50px !important;
  }
  .list_container_interest {
    width: 15%;
  }
}
.ant-list {
  width: 250px !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  border-bottom: none;
}
.ant-list-item-meta-description {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 1.5715;
  visibility: visible;
}

.container_send_messages {
  width: 100% !important;
  background-color: white;
  padding: 2%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.infinite-scroll-component,
#scrollableDiv,
.infinite-scroll-component__outerdiv {
  display: flex;
  flex-direction: column-reverse;
}

#scrollableDiv {
  border: none !important;
}

.ant-list-split .ant-list-item {
  border: none !important;
}
.comment_style {
  background-color: purple;
}
.commentList_style {
  width: 100% !important;
  background-color: white;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #f0f8ff;
}
::-webkit-scrollbar-thumb {
  background: #cbc3e3;
  border-radius: 36px;
}

.addcomment_container {
  padding: 2%;
}
.list_container_interest {
  padding: 2%;
}

@media (min-width: 920px) {
  .container_send_messages .ant-spin-container {
    position: relative;
    width: 100% !important;
    transition: opacity 0.3s;
    display: flex;
    justify-content: space-evenly;
  }
}
.ant-list .ant-list-split .commentList_style {
  width: 100%;
}

.ant-comment-content-detail {
  background-color: green;
}
.addcomment_container .ant-input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100% !important;
  height: 30px;
  min-width: 0;
  /* padding: 4px 11px; */
  color: black;
  font-size: 11px;
  /* line-height: 1.5715; */
  background-color: #e7f1fe;
  border-radius: 10px;
  /* background-image: none; */
  /* border: 1px solid #d9d9d9; */
  /* border-radius: 2px; */
  transition: all 0.3s;
}
