@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@media screen and (max-width: 280px) {
  .secondContainerRecruiterHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .card-width {
    width: 20%;
    margin: 8%;
  }
}
@media screen and (max-width: 920px) {
  .secondContainerRecruiterHome {
  }

  .big_container_messages {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 5%;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    min-width: 100%;
  }
  main .logisterArea {
    border-top-right-radius: 80px 80px;
    border-bottom-left-radius: 0;

    max-width: 100%;
  }
  .card-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .card-width {
    width: 80%;
    margin: 8%;
  }

  .ant-carousel {
    width: 174px;
    align-items: center;
  }
  .card-width h3 {
    margin: 1px 0;
    color: white;
  }
  .card-width h6 {
    margin: 5px 0;
    text-transform: uppercase;
    color: white;
  }
  .card-width p {
    font-size: 9px;
    line-height: 21px;
    color: white;
  }
  .skills {
    background-color: #1f1a36;
    text-align: center;
    padding: 12px;
    margin-top: 0px;
  }
  .buttons {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .ant-btn-icon-only.ant-btn-lg {
    width: 81px !important;
    margin: 5% !important;
  }
}

@media (min-width: 540px) and (max-width: 540px) {
  main .logisterArea {
    border-top-right-radius: 80px 80px;
    border-bottom-left-radius: 0;

    min-width: 100%;
  }
}

.container_candidateProfiles {
  display: flex;
  justify-content: center;
}

.card-logisterArea-container {
  width: 100%;
}

.ant-tabs {
  background-color: #7364d9 !important;
  box-shadow: 10px 5px 5px #473a4b !important;
  border-radius: 36px !important;
  align-items: center !important;
  padding: 5% !important;
}

.logoContainer {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-form-item {
}
.ant-tabs-tabpane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
}
