.activeNav {
  background-color: aqua;
}

a {
  color: aquamarine;
}
.activate {
  color: orange;
}
logisterArea:before,
logisterArea:after {
  clear: both;
  content: "";
  display: block;
  box-sizing: border-box;
}
.container {
  width: 100%;
}
main {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  min-height: 100vh;
}
.logisterArea {
  min-height: 100%;
  display: flex;
  flex-direction: row-reverse;
  border-top-left-radius: 80px 80px;
  border-bottom-left-radius: 80px 80px;
  background-color: #54499e;
  justify-content: center;
  position: relative;
  padding: 50px;
  width: 500px;
}
body {
  height: 100%;
}
.kanban {
  display: flex;
}

.kanban-list {
  min-width: 10em;
  list-style: none;
  padding: 0 0 1em 0;
  display: inline-table;
  border: 1px solid #ffffff;
  margin: 0.625em;
  overflow-y: visible;
}

.kanban-item-container {
  padding: 0.5em;
  display: block;
  min-width: 100%;
}

.kanban-list-header {
  padding: 0.625em 1em;
  border-bottom: 1px solid #ffffff;
}
.kanban-list-header h4,
.kanban-item h5 {
  padding: 0;
  margin: 0;
}
.kanban-item {
  padding: 0.5em;
  display: block;
  min-width: 100%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #000;
}


.candidate_profile_form_container{
  padding: 5%;
  margin: 5%;
}

/* EDITBOX --------------- */
.editbox {
  margin-bottom: 1rem;
}
.editbox textarea {
  font-family: inherit;
}

.editbox .edit-action {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: normal;
}

.editbox .editbox-textarea {
  outline: none;
  border: none;
  color: var(--text-secondary);
  width: 100%;
  resize: none;
  background-color: transparent;
  border: 1px solid #C6CBD4;
  border-radius: .5rem;
  padding: 1rem;
  transition: .2s;
}

.editbox .editbox-textarea:hover{ border: #9090cc .5px solid;}

.editbox .editbox-textarea:focus,
:active,
:visited {
  outline: none;
}

.editbox .text-edit {
  color: var(--text-secondary);
  background-color: transparent;
  font-weight: normal;
}

.editbox .edit-bottom { transform: translate(-.5rem, -1.5rem);}