.completeCandidateProfiles_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 250px;
  background-color: yellow;
}

.completeCandidateProfiles_container input {
  border-radius: 0 !important;
}

.completeCandidateProfiles_container
  .ant-input-group-addon:not(:first-child):not(:last-child),
.ant-input-group-wrap:not(:first-child):not(:last-child),
.ant-input-group > .ant-input:not(:first-child):not(:last-child) {
  border-radius: 0 !important;
  background-color: white !important;
}

.completeCandidateProfiles_container .ant-input-group .ant-input {
  float: left !important;
  width: 100% !important;
  margin-bottom: 0 !important;
  text-align: inherit !important;
  background-color: #ae65dc !important;
  border-color: #90fe12 !important;
  box-shadow: none !important;
}

.completeCandidateProfiles_container .ant-input[disabled] {
  color: rgba(0, 0, 0, 0.25) !important;
  background-color: #ef1a1a !important;
  border-color: #284b00 !important;
  box-shadow: none !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}
